@font-face {
	font-family: 'Young Serif';
	src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
	font-family: Outfit;
	src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
	font-family: 'Outfit';
	color: hsl(24, 5%, 18%);
	background-color: hsl(30, 54%, 90%);
}

.wrapper {
	width: 75ch;
	margin: 0 auto;
	padding: 2rem;
	border-radius: 1rem;
	background-color: hsl(0, 0%, 100%);
}

img {
	max-width: 100%;
	border-radius: 1rem;
}

#preparation-time {
	background-color: hsl(330, 100%, 98%);
	padding: 1rem 2rem;
	border-radius: 1rem;
}

h1,
h2 {
	font-family: 'Young Serif';
}

h2,
li::marker,
.nutritional-value {
	color: hsl(14, 45%, 36%);
}

h3 {
	color: hsl(332, 51%, 32%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

li::marker,
.nutritional-value {
	font-weight: 800;
}

ol,
ul {
	padding-left: 1.5rem;
}

li {
	padding: 1rem 0 0 0.5em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr:not(:first-child) {
	border-top: 1px solid hsl(30, 18%, 87%);
}

td {
	padding: 0.5em 1em;
}
